body {
  background-color: #2f3544;
}

.App {
  text-align: center;

}

.input-group{
  width: 60%;
}

.card {
  max-width: 60%;
 
   &-tittle {
    position: absolute;
    padding: 20px;
 }
  &-date {
    position: absolute;
    padding-left: 20px;
    margin-top: 60px;

  }
  &-temp {
    position: absolute;
    padding-left: 20px;
    margin-top: 260px;
    font-size: 60px;
  }
  &-desc {
    position: absolute;
    padding-left: 20px;
    margin-top: 320px;
  }

}
